* text=auto

*.bat text eol=crlf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.php text eol=lf
*.py text eol=lf
*.yml text eol=lf

*.exe binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
